.banner_bg {
  clip-path: url(#my-clip-path);
  filter: blur(100px);
}

.header_container {
  height: 700px;
}

@media(max-width: 400px) {

  /* .banner_queries { */
  /*   height: 280px; */
  /*   width: 310px; */
  /* } */
}

.banner_border {
  top: 4px;
  left: 4px;
  width: 99.3%;
  height: 694px;
}
