.scene {
  position: relative;
  top: 5rem;
  width: 100%;
  height: 140vh;
}

.scene {
  /*background-image: linear-gradient(to bottom, #fff7d1, #ffc999, #ff8e92, #ff5abe, #8b5dff);*/
  background-image: linear-gradient(to bottom, #0e1115, #394245, #6a7977, #a7b3a8, #f0efdd);
}

.nueva_section {
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(to bottom, #fff7d1, #ffc999, #ff8e92, #ff5abe, #8b5dff);

}
