.rootpage {
  /*overflow: hidden;*/
  height: 100vh;
  width: 100%;
}

.scene {
  position: relative;
  width: 100%;
  height: 100vh;
}


.skills {
  position: relative;
  width: 100%;
  height: 150vh;
  background-image: linear-gradient(to bottom, #0d0d0d, #111014, #151319, #18151e, #1c1723, #221c29, #28212f, #2e2635, #37313e, #413b47, #4b4751, #55525a);
}

.scene {
  /*background-image: linear-gradient(to bottom, #fff7d1, #ffc999, #ff8e92, #ff5abe, #8b5dff);*/
  /*background-image: linear-gradient(to bottom, #0e1115, #394245, #6a7977, #a7b3a8, #f0efdd);*/
  background-image: linear-gradient(to bottom, #0d0d0d, #121114, #161419, #19171e, #1d1923, #1d1923, #1d1923, #1d1923, #19171e, #161419, #121114, #0d0d0d);
}

.nueva_section {
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(to bottom, #fff7d1, #ffc999, #ff8e92, #ff5abe, #8b5dff);

}
