@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0e1115;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0e1115;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.label_01,
.label_02,
.label_03,
.label_04,
.label_05 {
  opacity: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Stylos para el label 1 */
.label_01 {
  top: 400px;
  left: 400px;
}

.label_01 h1 {
  text-decoration: underline;
  font-size: 10rem;
}

.label_01 p {
  position: relative;
  top: -50px;
  font-size: 1.2rem;
}

/* Stylos para el label 2*/
.label_02 {
  top: 300px;
  left: 400px;
}

.label_02 h1 {
  text-decoration: underline;
  font-size: 14rem;
}

.label_02 p {
  position: relative;
  top: -70px;
  font-size: 1.5rem;
}

/* Stylos para el label 3*/
.label_03 {
  top: 300px;
  left: 300px;
}

.label_03 h1 {
  text-decoration: underline;
  font-size: 14rem;
}

.label_03 p {
  position: relative;
  top: -70px;
  font-size: 1.5rem;
}

/* Stylos para el label 4*/
.label_04 {
  top: 150px;
  left: 100px;
}

.label_04 h1 {
  text-decoration: underline;
  font-size: 14rem;
}

.label_04 p {
  position: relative;
  top: -70px;
  font-size: 1.5rem;
}

/* Stylos para el label 5*/
.label_05 {
  bottom: 500px;
  right: 150px;
}

.label_05 h1 {
  text-decoration: underline;
  font-size: 14rem;
}

.label_05 p {
  position: relative;
  top: -70px;
  font-size: 1.5rem;
}


canvas+div::-webkit-scrollbar {
  display: none !important;
}

canvas+div {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

.main {
  width: 100%;
  overflow-x: hidden;
}

.section {
  width: 100vw;
  height: 100vh;
  /* Cada sección ocupa la altura completa de la ventana */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* Necesario si hay elementos posicionales */
}

.boxes {
  display: flex;
  flex-direction: column;
  /* Ubica las cajas en columna */
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* Espacio entre cajas */
}

.box {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  border-radius: 8px;
}

/* Gradientes para diseño */
.gradient-green {
  background: linear-gradient(135deg, #a3ffce, #1e8e50);
}

.gradient-blue {
  background: linear-gradient(135deg, #a0d8ff, #005cbf);
}

.gradient-purple {
  background: linear-gradient(135deg, #d9a0ff, #6e00b3);
}

.gradient-red {
  background: linear-gradient(135deg, #ffa0a0, #bf0000);
}

.gradient-orange {
  background: linear-gradient(135deg, #ffc48a, #bf6000);
}
