@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0e1115;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0e1115;
    --foreground: #ededed;
  }
}

body {
  padding: 10px;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.label_02,
.label_03,
.label_04,
.label_05 {
  opacity: 0;
  position: absolute;
}

.label_01 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 400px;
  left: 400px;
  opacity: 0;
}

.label_01 h1 {
  text-decoration: underline;
  font-size: 10rem;
}

.label_01 p {
  position: relative;
  top: -50px;
  font-size: 1.2rem;
}

.label_02 {
  top: 500px;
  right: 20px;
}

.label_03 {
  top: 300px;
  left: 100px;
}

.label_04 {
  bottom: 400px;
  right: 200px;
}

.label_05 {
  top: 230px;
  left: 50px;
}

canvas+div::-webkit-scrollbar {
  display: none !important;
}

canvas+div {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}
